.demo{
    width: 50%;
    height: 300px;
    background-color: blueviolet;
    /* text-align: right; */
/* margin-right: -100px; */
max-width: 450px;
min-width: 200px;
}

.parent{
    display: flex;
    
}